---
layout: default
title: Main
---
<div class="row">
	<div class="twelve columns" >
		<div class="foundation-header">
			<h1>BlinkyTape
        <span class="subheader">LEDs are awesome!</span>
      </h1>
    </div>
    <div class="row blinkytape-front-splash">
      <a href="/blinkytape/"><img src="/images/blinkytape/bt-splash.jpg" alt="BlinkyTape"/></a>
      <div class="row" style="margin-top: 15px">
        <p>
          Lorem ipsum dolor romanes eunt domus.
        </p>
      </div>
    </div>

		<div class="foundation-header" style="margin-top:20px">
			<h1>Other Blinkinlabs Stuff</h1>
        <span class="subheader">Other things are also awesome!</span>
      </h1>
    </div>
    <ul class="block-grid two-up  project_preview front-page-projects">
      {% for page in site.pages %}
        {% if page.category contains 'frontpage' %}
          <li class="{{page.type}} ">
            <a href="{{ page.url | replace:'index.html','' }}">

                <img src="/images/{{page.img|downcase}}/preview-2up.jpg" alt="{{page.title}}"/>
              <p> {{page.title }}  </p>
              <div class="page_preview_desc page_preview_desc hide-on-phones hide-on-desktops hide-on-tablets">  <!-- {{page.desc}} --> </div>


            </a>
          </li>
        {% endif %}
      {% endfor %}
      {% for project in site.posts %}
        {% if project.category contains 'frontpage' %}
          <li class="{{project.type}} ">
            <a href="{{ project.url | replace:'index.html','' }}">

                <img src="/images/{{project.img|downcase}}/preview-2up.jpg" alt="{{project.title}} project"/>
              <p> {{project.title }}  </p>
              <div class="project_preview_desc project_preview_desc hide-on-phones hide-on-desktops hide-on-tablets">  <!-- {{project.desc}} --> </div>


            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>

</div>
