<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="no-js">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title> Blinkiverse .. {{ page.title }} </title>
   <meta name="author" content="Blinkiverse" />

	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" /> 

	<!-- Included CSS Files --> 
	<link rel="stylesheet" href="/stylesheets/foundation.css">
	<link rel="stylesheet" href="/stylesheets/app.css"> 
	
	<link href="/javascripts/prettify/prettify.css" type="text/css" rel="stylesheet" /> 

	<link rel="stylesheet" href="/stylesheets/web.css" type="text/css" media="screen, projection" /> 

	<script type="text/javascript" src="/javascripts/lightbox.js"></script>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38619168-1']);
	  _gaq.push(['_setDomainName', 'blinkiverse.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  <style>
    body {
    -webkit-transform: rotate(0deg) scale(1);
    -webkit-transition-property: all 2s ease-out;
    }
  </style>
</head> 
<body id = "clouds"> 
	
<!-- <canvas id="canvasbg"></canvas>   -->

<div class="site"> 
<div class="container">
	
	<div class="row header book"> 
		
  		<div class="four columns">
      <h1 class="logo">	<a href="/" class="hide-on-phones"><img src="/images/blinkiverse-logo.png" alt="Blinkiverse Logo" title="Blinkiverse | Open Source Electronic Things" /></a></h1>
		
			<div class="show-on-phones hide-on-desktops hide-on-tablets main_sidebar main_sidebar_mobile"> 
				<h1 class="logo logo-mobile"><a href="/"><img src="/images/blinkiverse-logo.png" alt="Blinkiverse Logo" title="Blinkiverse | Open Source Electronic Things" /></a></h1>
				
				<div class="eight columns menu menu-mobile">

					<a href="/" class=""> Home </a> 
					<a href="/bio" class=""> About </a>

			  </div>	
				
			</div>			

  		</div>
  		<div class="eight columns menu right hide-on-phones">

			<a href="/" class=""> Home </a> 
  			<a href="/bio" class=""> About </a> 

  		</div> 
	</div>

  
  {{ content }} 

 

</div>


<footer class="row book">
	    <section class="five columns">
	      <h6><strong><a href="/contact">Contact Us</a></strong></h6>


	    </section>
	    
	
	    <section class="four columns">
	      <ul class="block-grid three-up">
			<li> 
	      	<iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.html?screen_name=BlinkyTape" style="width:220px; height:20px;"></iframe>
			</li>
		
		
		</ul>
		</section> 
		 
	   
	    <section class="seven columns">
	      <h6><strong>About this website</strong></h6>
	      <p>Last update {{site.time}} </p>
	      <p>Created using <a href="http://github.com/mojombo/jekyll">Jekyll</a> & <a href="http://foundation.zurb.com/">Foundation</a></p>
		
		</section> 
		
</footer>
</div>

<!-- container -->



</body>
</html>
